/* DINPro Regular */
@font-face {
	font-family: "DINPro-Regular";
  src: url("dinpro-regular/dinpro-regular.eot");
  src: url("dinpro-regular/dinpro-regular.eot?#iefix") format("embedded-opentype"),
  url("dinpro-regular/dinpro-regular.woff2") format("woff2"),
  url("dinpro-regular/dinpro-regular.woff") format("woff"),
  url("dinpro-regular/dinpro-regular.ttf") format("truetype"),
  url("dinpro-regular/dinpro-regular.svg#DINPro-Regular") format("svg");
}

html,body {
	color:#fff;
	background-color:#000;
	font-family:DINPro-Regular,Helvetica,Arial,sans-serif;
	line-height:1.3em;
}

/* Blueprint */
hr {
	background:#333;
	color:#333;
}


#hd {
	margin:40px 0 30px;
}
	#hd #logo {
		height:100px;
		padding-top:15px;
		padding-right:30px;
		text-align:right;
		border-right:1px solid #333;
	}
	#hd #about {
		padding-top:18px;
		font-size:11px;
	}
		#hd #about a {
			color:#ff0;
		}
		#hd #about a:hover {
			color:#ff0;
		}

/* Body */

#bd .pipe {
	padding:0 10px;
	color:#333;
}

#bd .level {
}
	#bd .level .decision a {
		display:block;
		margin:0 auto;
		padding:7px 10px;
		width:150px;
		color:#999;
		text-align:center;
		text-transform:uppercase;
		background-color:#000;
		border:1px solid #333;
		text-decoration:none;
	}
		#bd #level0 .decision a {
			width:400px;
		}
		#bd .level .blank_decision {
			margin:0 auto;
			width:150px;
			height:0;
			border-top:1px solid #333;
		}
			#bd #level1 .blank_decision {
				width:402px;
			}
		/* Special decisions */
		#bd #level1 .decision {
			margin:0 auto;
			padding-top:15px;
			width:402px;
			border-top:1px solid #333;
			background:url(../images/bg_vline.png) repeat-y top center;
		}
		#bd ._newspaper_display .decision,
		#bd ._newspaper_text-face .decision,
		#bd ._newspaper_combination .decision {
			margin:0 auto;
			padding-top:15px;
			width:220px;
			border-top:1px solid #333;
			background:url(../images/bg_vline.png) repeat-y top center;
		}
		#bd ._invitation_no_yes .blank_decision {
			margin:0 auto;
			width:170px;
			border-top:1px solid #333;
			background:url(../images/bg_vline.png) repeat-y top center;
		}

	#bd .level .options {
		text-align:center;
	}
		#bd .level .options .option {
			display:inline-block;
			padding:20px 5px;
			background:url(../images/bg_vline.png) repeat-y top center;
		}
		#bd .level .options .option a {
			padding:7px 10px;
			color:#fff;
			text-transform:uppercase;
			text-decoration:none;
			background-color:#000;
			border:1px solid #333;
		}
		#bd .level .options .option a:hover {
			color:#ff0;
			border-color:#ff0;
		}
		#bd .level .options .option a.selected {
			color:#ff0;
			border-color:#ff0;
		}

#bd .font {
	color:#fff;
	font-weight:bold;
}

#bd #fonts {
	padding-top:15px;
	padding-bottom:30px;
	text-align:center;
	border-top:1px solid #333;
}
	#bd #fonts a.font {
		display:inline-block;
		overflow:hidden;
		border:1px solid #000;
	}
	#bd #fonts a.font:hover {
		border:1px solid #ff0;
	}
	#bd #fonts a.selected {
		border:1px solid #333;
	}
	#bd #fonts .font img {
		margin:-10px -5px;
	}

/* Footer */

#ft {
	margin:60px 0;
	text-align:center;
}
	#ft a {
		color:#ff0;
	}
